.cart-prod-right{
    border: 1px solid darkgray;
    display: table !important;
}
.cart-page{
    padding: 10px;
}
.cart-page-lt{
    .cart-prod-items{
        margin-bottom: 10px !important;
        border: 1px solid darkgray;
    }
}
.cart-pd-title{
    border-bottom: 1px solid darkgray;
    padding: 10px;
    font-weight: bold;
    color: darkgray;
}
.cart-pd-total{
    border-top: 1px solid darkgray;
    padding: 10px;
    font-weight: bold;
}
.cart-pd-content{
    margin: 10px;
}
.cart-pd-total-rt{
    float: right;
    margin: 0 auto;
    width: 33%;
}
.cart-pd-total-lt{
    float: left;
}
.cart-pd-content-it{
    padding: 10px;
}
@media(max-width:450px){
    .cart-prod-items {
        .cart-page-lt .cart-prod-items {
        }
        .product-price-block div{
            display: inline-block;
            margin-right: 10px;
        }
        .price-block{
            width: 100%;
            padding: 10px !important;
        }
        .cart-remove{
            margin: 0 auto !important;
            width: 65% !important;
        }
        .cart-remove-label{
            font-size: 18px !important;
            font-weight: bold !important;
        }
    }
}
.cart-increase, .cart-decrease{
    background: white;
    color: darkgray;
    border-radius: 100px;
    margin-right: 10px;
    border:1px solid gray;
    height: 30px;
    width: 30px;
    margin-top: 2px;
}
.ca-product-count-sub{
    top: 25%;
    position: absolute;
}
.ca-product-count-input{
    margin-top: 7px !important;
    margin-right: 10px !important;
}
.remove-cart-btn {
    top: 24%;
}