.MuiSlider-markLabel{
    top: -15px !important;
}
.MuiSlider-marked {
    margin-bottom: 0px !important;
    width: 85% !important;
    left: 10px !important;
    top: 10px !important;
}
#range-slider{
    text-align: center;
    margin-bottom: 15px;
}