.sort-txt {
    text-align: center;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
}
.filter-txt {
    text-align: center;
    border-bottom: 1px solid;
    padding: 10px;
}
.dk-image{
    height: 140
}
.list-page{
    padding: 10px;
}
.filter-mb{
    margin-bottom: 10px !important;
}
.filter-title {
    font-size: 20px !important;
    font-weight: bold !important;
    margin-bottom: 20% !important;
}
.filter-block{
    margin: 10px !important;
}
.filter-apply-btn{
    margin: 0 auto !important;
    width: 50% !important;
    border-radius: 30px !important;
    left: 50px !important;
    background-color: #203dff !important;
    text-transform: capitalize !important;
}
.no-data-found{
    text-align: center;
}
.product-price-block{
    display: flex;
}