.footer{
    background: blue;
    padding: 10px;
    width: 100%;
    border: 3px solid white;
    .container{
        margin: 0 auto;
        width: 10%;
        color: white;
        font-weight: bold;
    }
}