.ca-product-count{
    top: 50%;
    position: relative;
}
.remove-cart-btn{
    font-size: 18px !important;
    font-weight: bold !important;
}
.ca-product-title{
    margin: 20px;
    margin-top: 10%;
}
.ca-product-price{
    margin-top: 15%;
    margin-left: 15px;
}
.cp-remove-cart-btn{
    top: 48%;
    position: relative;
}
.inputsize{
    width:25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
}